.header__desktop {
    color: #090909;
    height: 40px;
    font-family: 'Ponter PC';
    display: flex;
    align-items: center;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    box-shadow: 6px 6px 12px #c5c5c5,
        -6px -6px 12px #ffffff;
    position: sticky;
}